*{
    margin: 0;
    padding: 0;
    

}
#department{
    width: 314px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: white;
    color: grey;
    
}
#DOB{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: white;
    color: grey;
}
body{
    /* background-size: 380%; */
    /* background-position: 0px 0px; */
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;

   
}
body{

    background-image: url("/img/admin_block.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
div.main{
    width: 400px;
    margin: 10px auto 10px auto;
    
    
}
h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    

}
div.register{
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
box-shadow:2px 2px 15px
rgba(0, 0, 0, 0.0.3);
color: white;
padding-bottom: 10px;;
}
form#register{
    margin:0px 40px;

}
label{
    
    font-size: 20px;
   
}
input#name {
width: 300px;
border: 1px solid #ddd;
border-radius: 3px ;
outline: 0;
padding: 7px;
background-color: white;
box-shadow:inset 1px 1px 5px rbba(0,0,0,0.3)
} 
input::placeholder{
    color: grey;
}
input#Submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
 
    font-weight: 600;border-radius: 3px;
    background-color:#C82333 ;
    color:#fff;
    cursor: pointer;
    border: 1px solid rgba(255 , 255, 255, 0.3);
    box-shadow: 1 px 1px 5px rgba(0, 0, 0, 0.3);

    

}
label,span,h2{
    text-shadow: 1px 1px 5px
    rgba(0, 0, 0,0.3);
}